.Home {
	flex-grow: 1;
	padding: 15px;
}

.top {
	margin-bottom: 10px;
}

.mainClock > time {
	font-size: 36px;
}
.mainClock > span {
	font-size: 24px;
}
.description > span {
	margin-right: 5px;
}

.clocksTable > tr > th {
	padding: 2px;
	text-align: left;
}

.bottom {
}
