.Home {
	flex-grow: 1;
	padding: 15px;
}

.top {
	margin-bottom: 10px;
}

.mainClock > time {
	font-size: 36px;
}
.mainClock > span {
	font-size: 24px;
}
.description > span {
	margin-right: 5px;
}

.clocksTable > tr > th {
	padding: 2px;
	text-align: left;
}

.bottom {
}

.searchContainer {
	border: 1px solid #000000;
	border-radius: 3px;
	width: 200px;
	padding: 2px;
	display: flex;
	align-items: center;
}
.searchContainer:focus {
	outline: blue solid 5px;
}
.searchInput {
	border: none;
	height: 100%;
	width: 100%;
	font-size: 12px;
}
.searchInput:focus {
	outline: none;
}
